<ion-view title="" class="handa-bg-laranja">
      <ion-nav-bar class="bar handa-nav-bar">
      </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/YgdJgMobQ4WxWk6tA428_dumbell.png" width="100%1" height="auto">
        </div>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Usuario" ng-model="login.usuario">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Senha" ng-model="login.password">
            </label>
        </form>
        <a class="handa-bg-cinzaescuro button button-dark button-block " ng-click="Login()">Entrar</a>
        <a ui-sref="cadastro" class="handa-bg-laranjaescuro handa-btn-semborda button button-dark button-block">Cadastre-se</a>
    </ion-content>
</ion-view>