<ion-view title="Perfil" class="handa-bg-cinza" style="color: #FFF; text-align: center">

<ion-nav-bar class="bar handa-nav-bar">
    <ion-nav-buttons side="left">
      <button class="handa-nav-bar handa-btn-semborda icon" ng-click="toggleLeft()">
    <i class="ion-android-menu" style="font-size: 24px; color: #FFF"></i>
      </button>
    </ion-nav-buttons>
</ion-nav-bar>

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Nome</h3>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-list></ion-list>
        <ion-list>
            <ion-item class="item-divider">Idade</ion-item>
            <ion-item class="item-divider">Sexo</ion-item>
            <ion-item class="item-divider">Tempo de treino</ion-item>
        </ion-list>
    </ion-content>
</ion-view>