<ion-view title="Treinos">

<ion-nav-bar class="bar handa-nav-bar">
    <ion-nav-buttons side="left">
      <button class="button" ng-click="toggleLeft()">
      </button>
    </ion-nav-buttons>
</ion-nav-bar>

    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <a ui-sref="menu.criarTreino" class="button button-stable button-outline button-block ">Criar Treino</a>
        <a ui-sref="menu.meusTreinos" class="button button-stable button-block ">Meus treinos</a>
        <a ui-sref="menu.agendarTreino" class="button button-stable button-block ">Agendar Treino</a>
        <button class="button button-stable button-block ">Exercicios</button>
    </ion-content>
</ion-view>